/* 5️⃣ Small Tablets (769px–992px)
--------------------------------------------------------------*/
@media screen and (max-width: 992px) {
    .subBar{
        display:none;
    }

    .sidebar{
        left: -2500px;
    }

    #subjectList{
        display: block !important;
    }

    .NotesPadding{
        padding-top: 70px;
    }

    .main{
        width: 100%;
        margin-left: 0px;
    }

    .optionPadding{
        padding-top: 95px !important;
    }
}

/* 6️⃣ Medium Tablets / Small Laptops (993px–1200px)
--------------------------------------------------------------*/
@media screen and (max-width: 1280px) {
    .overWrite{
        display: none;
    }
}
